.head{
    background-color: #5b04fdb9;
    height: 500px;
}
ul{
    background: #fff;
    padding: 15px;

}
ul li{
 list-style-type: none;
 display: inline;
 color: #000;
 padding: 20px 0;
 margin-right: 80px;
 color: #5b04fdb9;
 
}
ul li:nth-child(8){
    border: 1px solid #ff0000;
    border-radius: 45rem;
    color: #fff !important;
    background-color: #ff0000;
    padding: 7px 30px 7px 30px;
    
}
ul li:nth-last-child(3){
    margin: 30px;
    margin-left: 120px;
}
h1{
    font-family: Century Gothic;
    font-size: 50px;
    color: #fff;
    text-align: center;
    text-shadow:80px 20px 40px 40px #000;
}
h2{
    color: #5b04fdb9;
}
h6{
    color: #fff;
    font-size: 30px;
    text-align: center;
}
h3{
    text-align: center;
    color: #5b04fdb9;
}
h4{
    text-align: center;
    font-size: 19px;
    color: #5b04fdb9;
}
.form1{
    border: 2px solid #808080;
    width: 650px;
    padding: 16px 0px 30px 30px;
    box-shadow: 1px 1px 1px 1px #808080;
    position: absolute;
    top: 48%;
    right: 27%;
    background: #fff;
    color: #5b04fdb9;
}
.form1 input[type=text]{
    border: 1px solid #000;
    padding: 10px 10px;
    width: 599px;
    

}
.belly{
    background: #fff;
    height:300px ;
    padding: 170px 0px 0px 20% ;
}
.form2{
    border: 4px solid#5b04fdb9;
    box-shadow: 15px 10px 10px 0px #5b04fdb9;
    width: 300px;
    height: 200px;
    padding: 10px 10px 10px 10px;
    position: relative;
    left: 50%;
    bottom: 50%;
    color: #5b04fdb9;
}
p{
    color: #000;
    text-align: center;
    color: #5b04fdb9;
}
text{
    color:#5b04fdb9;
}
a{
    text-decoration: none;
}